version: '3.8'

services:
  web:
    build: .
    ports:
      - "5146:5146"  # Пробрасываем порт 5146 снаружи на порт 5146 внутри контейнера
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5146
      - ConnectionStrings__DefaultConnection=Server=db;Database=MockupsDB;User=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;
    networks:
      - app-network
    restart: unless-stopped

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - ./Application/Mockups/temp_script.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  sqlserver_data: